html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    background-image: url("../images/bg_back.png");
    background-size:100% 100%;
}
.main_container{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image:url("../images/game-bg/firs-screen-bg.jpg");
}
#container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#score_help {
    text-align: center;
    font-size: 30px;
    background-color: transparent;
    background-image:url("../images/game-bg/board.png");
    background-size:100% 100%;
    position: absolute;
    width: 300px;
    height:350px;
    right:7%;
    z-index: 11;
}
.score-board{
    position: absolute;
    bottom: 9%;
    padding: 7%;
    text-align: left;
}

#score,#life,#time{
    font-size:50px;
    text-shadow: 0 0 5px #000000, 0 0 5px white;
    color:greenyellow;
}

#myProgress {
    width: 100%;
    background-color:grey;
    margin-top:117%;
    margin-left: -2%;
    border: 7px solid #43230f;
    border-radius: 50px;
    outline: none;
}

#myBar {
    width: 100%;
    height: 30px;
    background-image: linear-gradient(to right, #a9eb12, #b3ed0d, #beef07, #c8f003, #fed530);
    border-radius: 50px;
    outline: none;
}
i.fa-clock-o {
    position: absolute;
    left: 1.5%;
    bottom: -10.5%;
    color:#2e6864;
}
.fruit {
    position: absolute;
    top: 18%;
    height: 10%;
    width: 4%;
    z-index: 0;
    -webkit-animation: rotation 2s infinite linear;
}

#fruit1 {
    left: calc(15% + 8%/2 - 2%/2);
    top:5%;
}

#fruit2 {
    left: calc(30% + 8%/2 - 2%/2);
    top:18%;
}

#fruit3 {
    left: calc(45% + 8%/2 - 2%/2);
    top:15%;
}

#fruit4 {
    left: calc(60% + 8%/2 - 2%/2);
    top:20%;
}

#fruit5 {
    left: calc(75% + 8%/2 - 2%/2);
    top:10%;
}


#floor {
    position: absolute;
    height: 7%;
    width: 100%;
    bottom: 0;
    z-index: 10;
}

#basket {
    height: 30px;
    width: 70px;
    position: absolute;
    bottom: 130px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    z-index: 11;
}
#basket img{
    margin-top: -107%;
    margin-left: -277%;
    width:390%;
}

#score_1 {
    position: absolute;
    color: #424242;
    font-size: 30px;
    top: 45%;
    left: 30%;
}

#restart {
    border: 0;
    position: absolute;
    top: 40%;
    right:0;
    left:0;
    width:100%;
    background-color: transparent;
    display: none;
    cursor: pointer;
    outline: none;
    cursor: pointer;
    z-index:20;
}

#restart img{
    width:50%;
}

.tree{
    width:100%;
    height: 100%;
    background: url('../images/bg_front.png');
    background-size: cover;  
    z-index: 10;
    position: relative;
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

@media screen and (max-width:1360px){
    #score_help{
        margin-top: -10%;
    }
}

@media screen and (max-width:1024px){
    #score_help{
        margin-top: -17%;
    }
}

@media screen and (max-width:768px){
    #score_help{
        width: 29%;
        height: 42.5%;
    }
}